<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Dashboard</h1>
      
    </div>

    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
    <canvas class="my-4 w-100" id="myChart1" width="300" height="100"></canvas>
    <canvas class="my-4 w-100" id="myChart2" width="300" height="100"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>
        
        var ctx = document.getElementById('myChart1')
        var myChart1 = new Chart(ctx, {
        type:'pie',
        data:{
          labels: [
            'Tortas',
            'Cakes',
            'Bocaditos',
            'Material-reposteria',
            'Utensilios-reposteria'
          ],
          datasets: [{
            label: 'Ventas por categoria',
            data: [150, 25, 50,12,12],
            backgroundColor: [
              'rgb(255, 99, 132)',
              'rgb(54, 162, 235)',
              'rgb(255, 205, 86)',
              'rgb(255, 250, 80)',
              'rgb(25, 205, 86)'
            ],
            hoverOffset: 4
          }]
          },
        
      })
      
    </script>
    
    <script>
      var ctx2 = document.getElementById('myChart2')
        var myChart2 = new Chart(ctx2, {
            type:'line',
            data:{
                datasets: [{
                  label: 'Precios de Productos',
                  borderColor:"orange"
                }]
            },
            options:{
                scales:{
                    y:{
                        beginAtZero:true
                    }
                }
            }
        })

        let url2 = 'http://localhost:3000/dashboard/api/productos'
        fetch(url2)
            .then( response => response.json() )
            .then( datos => mostrar(datos) )
            .catch( error => console.log(error) )


        const mostrar = (articulos) =>{
            articulos.forEach(element => {
                myChart2.data['labels'].push(element.nombre)
                myChart2.data['datasets'][0].data.push(element.precio)
                myChart2.update()
            });
            console.log(myChart2.data)
        }  
    </script>
    
    
  </main>